﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs"  Inherits ="Sol_IsPostBack.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

        <span id="spanName" runat="server" enableviewstate="true"></span>

        <asp:Label id="lblName" runat="server" EnableViewState="false"></asp:Label>

    </div>
        <p>

        <asp:Button ID="btnSubmit" runat="server" Text="Submit" />
    
        </p>
    </form>
</body>
</html>
